@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px;
    background-color: steelblue;
}



.capsule {
    padding: 20px;
    position: relative;
    margin: 20px auto;
    margin-bottom:0px; 
    background: rgb(194,194,194);
    background: slategray;
    border-radius: 75px;
    display: flex;
    box-shadow: 2px 2px 5px rgb(0,0,0,.5);
    z-index: 10;
}

.insidecontainer {
    background-color: rgb(255, 255, 255, .7);
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Neucha', sans-serif;
    margin: 0 auto;
    min-width: 50%;
    text-align: center;
}

.capsule-contents {
    padding: 20px;
    padding: 25px;
    margin-top: -5px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgb(230, 230, 230);
    position: relative;
    z-index: 0;
    box-shadow: 2px 2px 5px rgb(0,0,0,.5);
}

.textcontainer {
    width: 60%;
    display: flex;
}

.textcontainer h3 {
    text-transform: uppercase;
}

.textcontainer p {
    font-family: 'Neucha', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
}

header {
    padding-bottom: 20px;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}



p {
    padding-top: 10px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

input, select, textarea {
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 7px;
    min-width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

form {
    padding: 25px;
}

img {
    max-width: 100%;
}

button {
    padding: 10px;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    margin: 10px;
    background-color: lightblue;
}

.enter-button {
    margin: 0 auto
}

.button-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.warning {
    color: darkred;
}

#addnew {
    margin-left: 20px;
}

.explainer {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.opencapsule {
    line-height: 5rem;
    color: white;
    box-shadow: 2px 2px 5px rgb(0,0,0,.5);
    width: 80px;
    height: 80px;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    background-color: slategray;
    margin-right: 30px;
    margin-top: 5px;
    border: 0px;
}

.makered {
    background-color: red;
}

.makeblue {
    background-color: steelblue;
}


@media only screen and (min-width: 800px){

body {
    background-color: #ddd;
}

main {
    width: 750px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 400px;
    padding: 40px;

}


}